.u-section-1 .u-sheet-1 {
  min-height: 532px;
}

.u-section-1 .u-text-1 {
  margin: 108px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -69px 673px 0 38px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -84px 135px 60px 602px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 511px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 35px;
    margin-left: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 291px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 111px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}